@charset "utf-8";


/* =Reset default browser CSS.
Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */

body{
color:#333;
font:16px verdana,"ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN","メイリオ","Meiryo","ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
line-height:1.2em;
background:#f2eedc;
-webkit-text-size-adjust: none;
}

html{background:#f2eedc;}


/* リンク設定
------------------------------------------------------------*/
a{color:#337db6;text-decoration:none;}
a:hover{color:#246292;}
a:active, a:focus{outline:0;}


/* 全体
------------------------------------------------------------*/
#wrapper{
margin:0 auto;
padding:0 1%;
width:98%;
position:relative;
}

.inner{
margin:0 auto;
width:100%;
}

#overlay {
text-align: center;
position: fixed;
bottom: -1%;
width: 100%;
}

/* sns */
.snsb {
  overflow: hidden;
}
.snsb li {
  float: left;
  margin-right: 4px;
}
.snsb iframe {
  margin: 0 !important;
}

/* list */
.menulist, .menulist li {
  padding: 0px;
  margin: 0px;
}

.menulist li {
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 5px 0px 5px 0px !important;
}

.list2 li {
  position: relative;
  padding-left: 20px;
}

.list2 li:before {
  content: '';
  height: 0;
  width: 0;
  display: block;
  border: 5px transparent solid;
  border-right-width: 0;
  border-left-color: #aaa;
  position: absolute;
  top: 5px;
  left: 8px;
}

.list2 li:after {
  content: '';
  height: 2px;
  width: 10px;
  display: block;
  background: #aaa;
  position: absolute;
  top: 9px;
  left: 0px;
}

ul.matome {
  color: #668ad8;/*文字色*/
  border: dashed 2px #668ad8;/*破線 太さ 色*/
  background: #f1f8ff; /*背景色*/
  padding: 0.5em 0.5em 0.5em 2em;
}

ul.matome li {
  line-height: 1.5;
  padding: 0.5em 0;
}

ul.midashi {
  border: solid 2px #ffb03f;
  padding: 0.5em 1em 0.5em 2.3em;
  position: relative;
  margin-top: 2em;
}
ul.midashi li {
  line-height: 1.5;
  padding: 0.5em 0;
  list-style-type: none!important;
}
ul.midashi li:before {/*リストのアイコン*/
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  color: #ffb03f; /*アイコン色*/
}
ul.midashi li:after {/*タブ*/
  background: #ffb03f;
  color: #fff;
  font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f0a7  Check';/*アイコンコード＋文字*/
  letter-spacing: 0.05em;/*字間*/
}

/*************
/* ヘッダー
*************/
#header{
padding:25px 0 15px;
overflow:hidden;
}

* html #header{height:1%;}

#header h1{
font-size:11px;
font-weight:normal;
}


/*************
/* ロゴ
*************/
#header .logo{
float:left;
padding:10px 0 0;
}

.logo a{
font-size:20px;
font-weight:bold;
line-height:1;
color:#333;
}

.logo span{
font-size:11px;
font-weight:normal;
}


/**************************
/* トップナビゲーション
**************************/
ul#topnav{
float:right;
overflow:hidden;
}

* html ul#topnav{height:1%;}

ul#topnav li{
float:left;
margin:0 5px;
text-align:center;
}

ul#topnav a{
font-size:12px;
display:block;
padding:10px 10px;
color:#333;
}

ul#topnav span{
color:#9e9259;
font-size:10px;
}

ul#topnav li.active a,ul#topnav a:hover{
background:#e8e3ca;
border-radius:5px;
}


/**************************
/* メイン画像（トップページ+サブページ）
**************************/
#mainBanner{
margin:15px auto 20px auto;
padding:0;
width:100%;
position:relative;
line-height:0;
}

#mainBanner img{
max-width:100%;
height:auto;
border-radius:3px;
}

.slogan{
position:absolute;
max-width:100%;
height:auto;
bottom:0;
left:0;
padding:15px 20px;
line-height:1.4;
/*background:url(/images/tp2.png);*/
background-color: rgba(255,255,255,0.8);
}

.slogan h2{
padding-bottom:5px;
color:#333;
font-size:18px;
}

.slogan h3{
font-size:12px;
color:#666;
}

/* サブページ スローガンの背景・黒*/
.subImg .slogan{/*background:url(/images/tp2.png);*/}

.subImg .slogan h2{color:#333;}
.subImg .slogan h3{color:#666;}



/**************************
/* グリッド
**************************/
.gridWrapper{
padding-bottom:20px;
overflow: hidden;
display: -webkit-flex;
display: flex;
-webkit-flex-wrap:wrap;
flex-wrap: wrap;
}

* html .gridWrapper{height:1%;}

.grid{
float:left;
border-radius:5px;
background:#fff;
}

.grid h3{
padding:15px 5px;
text-align:center;
border-radius:5px 5px 0 0;
background:#e8e3ca;
}

.grid p{
padding:5px 10px;
}

.gridWrapper img{
max-width:100%;
height:auto;
}

/* フッター内のグリッド(3カラム) */
#footer .grid{
background:transparent;
}

#footer .grid p{padding:0;}


/*************
メイン コンテンツ
*************/
section.content{
padding:19px;
margin-bottom:20px;
border:1px solid #ebebeb;
border-radius:6px;
background:#fff;
overflow:hidden;
font-size:14px;
}

* html section.content{height:1%;}

section.content p{
  margin-bottom:5px;
  line-height:2.0;
}

section.content p span {
  margin: 0 3px;
}

section.content p.stage_info span {
  margin: 0 3px;
  color: #FA58D0;
  font-weight: bold;
}

h2.heading{
padding-left:7px;
margin-bottom:10px;
font-size:16px;
border-left:5px solid #e8e3ca;
}

h3.heading{
padding-left:7px;
margin-bottom:10px;
font-size:16px;
border-left:5px solid #e8e3ca;
}

section.content img{
max-width:90%;
height:auto;
}

section.content div.comment_area {
  margin: 5px;
}

section.content div.comment_area span {
  font-size: 0.9em;
  color: #CC2EFA;
}

section.content span.comment_name {
  color: #df01d7;
  font-size: 0.9em;
  margin-left: 5px;
}
section.content p.comment_info {
  margin-left: 10px;
}

section.content div#feed_area {
  margin: 5px;
  overflow: auto;
  width: 90%;
  height: 100px;
  border: solid 1px #F6CEF5;
  padding: 5px;
  font-size: 0.9em;
}

section.content div#feed_area ul li {
  padding:5px;
}
section.content div#feed_area ul li+li {
  border-top:1px dashed #999966;
}

.alignleft{
float:left;
clear:left;
margin:3px 10px 10px 0;
}

.alignright{
float:right;
clear:right;
margin:3px 0 10px 10px;
}

img.frame,#gallery img{
border:4px solid #fff;
box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:0 0 2px rgba(0, 0, 0, 0.5);
}

#gallery .grid{padding:5px 0 0;}


/*************
テーブル
*************/
table.table{
border-collapse:collapse;
width:100%;
margin:10px auto;
}

table.table th,table.table td{
padding:5px;
border:1px solid #cacaca;
}

table.table th{
text-align:right;
font-weight:bold;
letter-spacing:1px;
white-space:nowrap;
background:#f3f3f3;
}

table.table td{border-left:#48370d;}



/*************
サブ（フッター前）コンテンツ
*************/
#sub ul{padding:10px;}

#sub li{
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #ebebeb;
}

#sub li:last-child{
border:0;
margin-bottom:0;
}

#sub li a{display:block;}

#sub ul.list{padding-bottom:7px;}

#sub ul.list li{
clear:both;
margin-bottom:5px;
padding:5px 0;
overflow:hidden;
}

* html #sub ul.list li{height:1%;}

#sub ul.list li img{
float:left;
margin-right:10px;
}

#sub ul.list li{
font-size:12px;
line-height:1.35;
}


/*************
/* フッター
*************/
#footer{
clear:both;
padding:20px 0 40px;
overflow:hidden;
}

* html #footer{height:1%;}

.tel strong{
font-size:20px;
font-weight:bold;
}

#footer a{color:#333;}
#footer a:hover{color:#888;}

#footer .copyright{font-size:11px;}

/*************
/* まとめ
*************/
.appended {
margin-bottom: 20px!important;
}

.appended > div {
}

.appended {
margin-bottom: 20px!important;
}
.admin_comment_wrap {
  display: -webkit-box;　/* Safari,Google Chrome用 */
    display: -moz-box;　/* Firefox用 */
  display: box;
  width: 100%;
}
.admin_img {
  width: 130px;
}
/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
    .admin_img {
      width: 80px;
    }
}

.admin_img img{
  vertical-align: bottom;
}
.admin_img span{
  font-size: 10px;
  display: block;
}
.admin_comment {
    width: 100%;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.admin_comment p {
    line-height: 1.4em!important;
    font-size: 12px;
    font-weight: bold;
}

.left_balloon {
  position: relative;
  background: #fff;
  border: 1px solid #9F7DA0;
  padding: 7px;
  border-radius: 8px;
  min-height: 70px;
  width: 96%;
  clear: both;
  float: left;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 35px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #9F7DA0;
    border-width: 8px;
    margin-top: -8px;
}

/* PC用 */
@media only screen and (min-width:960px){
    #wrapper,.inner{
    width:940px;
    padding:0;
    }

    #wrapper{padding-bottom:20px;}

    /* グリッド全体 */
    .gridWrapper{
    width:960px;
    margin:0 0 0 -20px;
    }

    /* グリッド共通 ベース:トップページ4カラム */
    .grid{
    float:left;
    width:220px;
    margin-left:20px;
    margin-bottom:20px;
    }

    /* サブコンテンツ + フッター グリッド(3カラム) */
    #sub .grid, #footer .grid{
    width:300px;
    }

    /* ギャラリー グリッド(4カラム) */
    #gallery{
    width:920px;
    }

  #gallery .grid{
    width:210px;
    }
}


/* モニター幅940px以下 */
@media only screen and (max-width:940px){
    #header h1{padding:0 0 5px 10px;}
    #header .logo{padding-left:10px;}

    .grid{
    float:left;
    width:48%;
    margin:10px 2% 0 0;
    }

    .grid img{
    float:left;
    margin-right:5px;
    }

    #gallery{padding-left:1px;}

    #gallery .grid{
    width:23%;
    margin:0 2% 0 0;
    padding:0;
    }

    #gallery .grid img{
    float:none;
    margin:0;
    }

    #sub .grid{
    width:32%;
    margin:10px 1%;
    }

    #sub .grid:first-child{
    margin-left:0;
    }

    #sub .grid:last-child{
    margin-right:0;
    }

    #footer .grid{
    float:none;
    width:100%;
    text-align:center;
    }

    #footer .grid:last-child{padding-top:20px;}
}


/* iPad 縦 */
@media only screen and (max-width:768px){
  #header{padding-bottom:0;}

    #header h1{text-align:center;}

    #header .logo{
    float:none;
    text-align:center;
    padding:10px 5px 20px;
    }

    ul#topnav{
    clear:both;
    width:100%;
    }

    ul#topnav li{
    width:33%;
    margin:0;
    border-top:1px solid #e8e3ca;
    border-right:1px dashed #e8e3ca;
     box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
    }

    ul#topnav li:nth-child(3n){border-right:0;width:34%;}

    ul#topnav li.active a,ul#topnav a:hover{border-radius:0;}

    #sub ul.list{padding:10px 10px 11px;}

    #sub ul.list li{
    padding-bottom:10px;
    margin-bottom:8px;
    }
}


/* スマートフォン 横(ランドスケープ) */
@media only screen and (max-width:640px){
    #footer .grid p{text-align:center;}

    .grid img{
    float:none;
    margin:20px auto 10px;
    }

    .grid p,#sub .grid li{text-align:left;}

    img.frame,#gallery img{border-width:2px;}

  .alignleft,.alignright{
    float:none;
    display:block;
    margin:0 auto 10px;
    }
}


/* スマートフォン 縦(ポートレート) */
@media only screen and (max-width:480px){
    ul#topnav li{width:50%;}

    ul#topnav li:nth-child(3n){
    border-right:1px dashed #e8e3ca;
    width:50%;
    }

    ul#topnav li:nth-child(2n),ul#topnav li:nth-child(6n){border-right:0;}

    #mainBanner{margin-left:1px;}
    #mainBanner h2,#mainBanner h3{font-size:80%;}

    #sub .grid{
    float:none;
    width:98%;
    }

    #sub .grid h3{padding:10px 5px;}

    #sub ul.list{padding:10px;}

    #sub ul.list li{
    padding-bottom:3px;
    margin-bottom:3px;
    }

    #sub ul.list li img{margin:0 5px 0 0;}

    section.content {
        padding: 10px;
    }
    .slogan {
        padding: 5px 7px;
    }
    .slogan h2 {
        padding-bottom: 0;
    }
}
